body{
	font-family: 'Raleway', sans-serif;
	height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  color: white;
   height: 100%;
    width: 100%;
    margin:0;

    padding:0;

}
html{
    height: 100%;
    width: 100%;
    margin:0;

    padding:0;

}
#mask{
    position: relative;
    height: 100%;
}
.nav1{
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}
#text{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
}
.txtcontainer{
  font-family: 'Raleway', sans-serif;
  color: black;
}
#txthead1{
    color: white; 
    font-size: 450%;
    font-weight: 200;
    letter-spacing: 5px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
#head1{
  color: white; 
    font-size: 200%;
    font-weight: 200;
    letter-spacing: 5px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
#txthead2{
    color: white;
    font-size: x-large;
    letter-spacing: 5px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
.nav2{
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}
.darken {
  background-image: 
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      ),
  url("assets/main.jpg"); /***This is the background image****/
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}
#headtxt{
  font-size: 50px;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
.container{
    background-color: brown;
    height: 55px;

}